Workflows/Whenafileiscreatedormodifiedpropertiesonly-C401E371-4825-F011-8C4E-7C1E524AB8B0.json
{
  "properties": {
    "connectionReferences": {
      "shared_microsoftcopilotstudio": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr8dc_sharedmicrosoftcopilotstudio_a2be6"
        },
        "api": {
          "name": "shared_microsoftcopilotstudio"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr8dc_agent.cr.PhQ4pzYf"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr8dc_sharedcommondataserviceforapps_52457"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_file_is_created_or_modified_(properties_only)": {
          "recurrence": {
            "interval": 1,
            "frequency": "Minute"
          },
          "metadata": {
            "operationMetadataId": "e1f82874-bfe2-493f-bf35-79855419acb6"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetOnUpdatedFileItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://armely.sharepoint.com/sites/Test-team",
              "table": "fd0213e3-8fc2-4795-8896-48eb5745b4da",
              "view": "85431284-77bb-4a7d-b4a1-98967d5880e6"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Sends_a_prompt_to_the_specified_copilot_for_processing": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "24b55479-5a67-4b66-8b28-6e91e39f1b1c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_microsoftcopilotstudio",
              "operationId": "ExecuteCopilot",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftcopilotstudio"
            },
            "parameters": {
              "Copilot": "cr8dc_epiGuard",
              "body/message": "Use content from @{triggerBody()}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_file_content": {
          "runAfter": {
            "Sends_a_prompt_to_the_specified_copilot_for_processing": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3177605c-1221-402b-bd82-69ab1ebad353"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetFileContent",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://armely.sharepoint.com/sites/Test-team",
              "id": "@triggerBody()?['{Identifier}']",
              "inferContentType": true
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "OCR": {
          "runAfter": {
            "Get_file_content": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "760e424a-510e-4b99-845d-1a5c72d1dd39",
            "flowSystemMetadata": {
              "portalOperationId": "aibuilderpredict_textrecognition",
              "portalOperationGroup": "aibuilder",
              "portalOperationApiDisplayNameOverride": "AI Builder",
              "portalOperationIconOverride": "https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png",
              "portalOperationBrandColorOverride": "#0A76C4",
              "portalOperationApiTierOverride": "Standard"
            }
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "aibuilderpredict_textrecognition",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "item/requestv2/base64Encoded": "@body('Get_file_content')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Scanned_Contents": {
          "runAfter": {
            "OCR": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f1343853-4665-4dd5-9696-0f8018afb148"
          },
          "type": "Compose",
          "inputs": "@outputs('OCR')?['body/responsev2/predictionOutput/fullText']"
        },
        "Create_file": {
          "runAfter": {
            "Get_Scanned_Contents": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ef476524-4e5b-40ac-8556-bed5a6139cdb"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "CreateFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://armely.sharepoint.com/sites/Test-team",
              "folderPath": "/Test2",
              "name": "OCR_@{utcNow('yyyyMMddHHmmss')}.txt",
              "body": "@outputs('Get_Scanned_Contents')"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}